<div class="page-header">
  <h1>
    About MyLibrary
  </h1>
</div>



<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome to MyLibrary!</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
           
              <p>This app is designed to help you catalog and curate your favorite books, so that you can remember not only WHAT you read, but HOW you felt about it.</p>

              <p>Love reading, but having a hard time keeping track of what you've read and what it meant to you? Want one location where you can catalog all your books - whether they were e-books or physical copies...or even if you don't a copy of the book? MyLibrary is for you!</p>
           
           </div>
        </div>
      </div>
    </div>
  </div>
</div>